parameters:
	ignoreErrors:
		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\AnonymousApi\\:\\:getNotices\\(\\) should return Xvilo\\\\OVpayApi\\\\Models\\\\Notices but returns object\\.$#"
			count: 1
			path: src/Api/AnonymousApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\TripsApi\\:\\:getTrip\\(\\) should return Xvilo\\\\OVpayApi\\\\Models\\\\Receipt\\\\ReceiptTrip but returns object\\.$#"
			count: 1
			path: src/Api/TripsApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Models\\\\Payments\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/Payments.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Models\\\\Receipt\\:\\:__construct\\(\\) has parameter \\$relatedBalances with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/Receipt.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Models\\\\Receipt\\:\\:getRelatedBalances\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/Receipt.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Models\\\\Receipt\\\\ReceiptTrip\\:\\:__construct\\(\\) has parameter \\$correctionOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/Receipt/ReceiptTrip.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Models\\\\Receipt\\\\ReceiptTrip\\:\\:getCorrectionOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/Receipt/ReceiptTrip.php
