parameters:
	ignoreErrors:
		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\AnonymousApi\\:\\:getNotices\\(\\) should return array\\<string, array\\<string, mixed\\>\\> but returns array\\<int\\|string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/Api/AnonymousApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\TripsApi\\:\\:getTrip\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Api/TripsApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\TripsApi\\:\\:getTrip\\(\\) should return array but returns array\\<int\\|string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/Api/TripsApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\TripsApi\\:\\:getTrips\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Api/TripsApi.php

		-
			message: "#^Method Xvilo\\\\OVpayApi\\\\Api\\\\TripsApi\\:\\:getTrips\\(\\) should return array but returns array\\<int\\|string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/Api/TripsApi.php

		-
			message: "#^Parameter \\#2 \\$parameters of method Xvilo\\\\OVpayApi\\\\Api\\\\AbstractApi\\:\\:get\\(\\) expects array\\<string, string\\>, array\\<string, int\\> given\\.$#"
			count: 1
			path: src/Api/TripsApi.php
